<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微....博的？！</title>
    <script type="text/javascript" src="__PUBLIC_ADMIN__/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="__PUBLIC__/libarary/Bootstrap3.3.7/js/bootstrap.min.js"></script> -->

    <script type="text/javascript" src="__PUBLIC__/js/user.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/weibo.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/comment.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/index.js?0.0.3"></script>
    <script type="text/javascript" src="__PUBLIC__/js/delete.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="./public/libarary/Bootstrap3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/animate.css">
</head>
<body>
    <!-- 微博 -->
    <div id="main">
        <!-- 头部 -->
        <div class="title">
            <!-- 标题 -->
            <h1><a href="/public" style="text-decoration: none;">轻博客</a></h1>
            <!-- 用户信息 -->
            <div class="tab_user clearfix">
                <div class="dropdown user_state pull-left" id="accountmenu">
                    {if $Think.session.info.user_name}
                    <img src="{$Think.session.info.user_pic|hasPhoto}" class="tab_pic" alt="" >
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {$Think.session.info.user_nickname} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#edit_pic_box" data-toggle="modal">修改头像</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{:url('/whome/user/home',array('id'=>$Think.session.info.id))}" data-toggle="modal">个人主页</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#quit_box" data-toggle="modal">退出</a>
                        </li>
                    </ul>
                    {else}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        当前状态：游客 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#login_box" data-toggle="modal">登陆</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#register_box" data-toggle="modal">注册</a>
                        </li>
                    </ul>
                    {/if}
                </div>
                <!-- 登陆模态框 -->
                <div class="modal" id="login_box">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">登陆</div>
                            <div class="modal-body">
                                <form action="" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="login_user_name" class="col-lg-2 control-label">用户名</label>
                                        <div class="col-lg-10">
                                            <input type="text" name="" value="" class="form-control" id="login_user_name"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="login_user_pwd" class="col-lg-2 control-label">密码</label>
                                        <div class="col-lg-10">
                                            <input type="password" name="" value="" class="form-control" id="login_user_pwd"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-lg-2 control-label">验证码</label>
                                        <div class="col-lg-7">
                                            <input type="text" name="captcha" class="form-control">
                                        </div>
                                        <div class="col-lg-3">
                                            <img src="/public/index/home/getCaptcha" alt="" onclick="changeCaptcha(this)" id="img_captcha">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="" class="btn btn-info" onclick="user.do_login()">登陆</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 注册模态框 -->
                <div class="modal" id="register_box">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">注册</div>
                            <div class="modal-body">
                                <form action="" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="register_user_nickname" class="col-lg-2 control-label">昵称</label>
                                        <div class="col-lg-10">
                                            <input type="text" name="" value="" class="form-control" id="register_user_nickname"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="register_user_name" class="col-lg-2 control-label">用户名</label>
                                        <div class="col-lg-10">
                                            <input type="text" name="" value="" class="form-control" id="register_user_name"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="register_user_pwd" class="col-lg-2 control-label">密码</label>
                                        <div class="col-lg-10">
                                            <input type="password" name="" value="" class="form-control" id="register_user_pwd"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="register_user_repwd" class="col-lg-2 control-label">重复密码</label>
                                        <div class="col-lg-10">
                                            <input type="password" name="" value="" class="form-control" id="register_user_repwd">
                                        </div>
                                    </div>
<!--                                     <div class="form-group">
                                        <label for="register_user_pic" class="col-lg-2 control-label">头像</label>
                                        <div class="col-lg-10 filePicker">
                                            <label>点击选择文件</label>
                                            <input type="file" name="" value="" class="form-control" id="register_user_pic"></div>
                                    </div>
                                    <div class="form-group register_user_pic_see">
                                        <div class="col-lg-10 col-lg-offset-2"></div>
                                    </div> -->
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="" class="btn btn-info" onclick="user.do_register()">注册</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 修改头像模态框 -->
                <div class="modal" id="edit_pic_box">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">修改头像</div>
                            <div class="modal-body">
                                <div class="form-group" style="margin-bottom: 45px;">
                                    <div class="filePicker">
                                        <label>点击选择文件</label>
                                        <input type="file" name="" value="" class="form-control" id="edit_pic"></div>
                                </div>
                                <div class="form-group edit_pic_see">
                                    <div class="col-lg-10 col-lg-offset-2"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="" class="btn btn-info" onclick="user.do_edit()">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 退出当前用户模态框 -->
                <div class="modal" id="quit_box">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">退出当前用户</div>
                            <div class="modal-body">是否退出当前用户？</div>
                            <div class="modal-footer">
                                <button type="" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="" class="btn btn-info" onclick="user.do_quit()">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>