<img src="{$item.user_pic|hasPhoto}" class="tab_pic" alt="">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
    {$item.user_nickname} <b class="caret"></b>
</a>
<ul class="dropdown-menu">
    <li>
        <a href="#edit_pic_box" data-toggle="modal">修改头像</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="{:url('/whome/user/home',array('id'=>$Think.session.info.id))}" data-toggle="modal">个人主页</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#quit_box" data-toggle="modal">退出</a>
    </li>
</ul>