{foreach $weibo_data as $item}
<li weibo-id="{$item.id}" class="animated slideInDown list_{$item.id}">
    <div class="row clearfix">
        <div class="col-lg-2 head_box" style="text-align: center;">
            <img src="{$item.user_pic|hasPhoto}" alt="" data-id="{$item.user_id}" class="img-rounded w_img">
            <p>{$item.user_nickname}</p>
            <!-- 会员身份显示  -->
            <div class="user_degree">
            	普通用户<img src="__PUBLIC__/img/ud_img1.png">
            </div>
            <div class="info-box">
                <div class="arrow-left"></div>
                <a class="author-name">{$item.user_nickname}的最近微博</a>
                <ul class="road_list">
                </ul>
            </div>
        </div>
        <div class="col-lg-10 content_box">
            <div class="triangle_border_ne"></div>
            <div class="content">
                {if $item.type == 'short_content'}
                {$item.weibo_content}
                {elseif $item.type == 'pic_text'}
                <img src="{$item.pic}" alt="" class="w-img">
                {$item.weibo_content}
                {elseif $item.type == 'music'}
                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id={$item.music}&auto=0&height=66"></iframe>
                {$item.weibo_content}
                {elseif $item.type == 'video'}
                <video src="{$item.video}" controls width="80%"></video>
                {$item.weibo_content}
                {elseif $item.type == 'long_content'}
                {$item.weibo_content}
                {/if}
            </div>
            <div class="w-opt clearfix">
                <div class="optb pull-left">
					{foreach $item.tag as $value}
		            <div class="tags_box">
		            	<div class="tag_info_box">
			                <ul class="road_tag clearfix">
			                    <li>
			                        <a href="#" class="tag_content">标签微博</a>
			                    </li>
			                    <li>
			                        <a href="#" class="tag_content">标签微博</a>
			                    </li>
			                    <li>
			                        <a href="#" class="tag_content">标签微博</a>
			                    </li>
			                </ul>
			                <div class="arrow_down"></div>
			            </div>
		                <a data-id = "{$value.name}" class="tag" href="'/public/whome/tag/show',{id:$value.tag_id}">#{$value.name}&nbsp;</a>

		            </div>
		            {/foreach}
                </div>
                <div class="optb pull-right">
                    <span style="color: #55a4a9;">{$item.create_time}</span>
                    {if $item.user_id == $Think.session.info.id || $Think.session.admin}
                    <a href="#modal-del" data-toggle="modal" data-type="{$item.type}" class="delete_weibo" id="{$item.id}">删除</a>
                    {/if}
                    {if $item.user_id == $Think.session.info.id}
                    <a href="#edit_weibo_modal" class="edit_weibo" data-toggle="modal">编辑</a>
                    {/if}
                    <a href="" class="commet_btn" data-num="{$item.id}">评论({$item.commont_count})</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row comment_row">
        <div class="col-lg-10 col-lg-offset-2 commont_box">
        	<div class="row commet">
                <div class="col-lg-10">
                    <input type="text" name="commet_content" class="form-control">
                </div>
                <div class="col-lg-2">
                    <input type="button" class="btn btn-info commet_send" value="发布">
                </div>
            </div>
            <ul class="commont_list">

            </ul>
        </div>
    </div>
</li>
{/foreach}