<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/libarary/Bootstrap3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__/libarary/Bootstrap3.3.7/js/bootstrap.min.js">
	<style type="text/css">
		.contanier{width: 60%;margin: 0 auto}
	</style>
</head>
<body>
	
	<div class="contanier">
			<form action="{:url('doLogin')}" class="form" method="post">
				<div class="form-group">
					<label >用户名</label>
				 	<input type="text" name="admin_name" class="form-control">
				</div>
				<div class="form-group">
					<label >密码</label>
				 	<input type="password" name="admin_pwd" class="form-control">
				</div>
				<div class="form-group">
					<label >验证码</label>
				 	<input type="text" class="form-control" name="captach">
				 	<img src="{:captcha_src()}" alt="" onclick="change_captach(this)">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-success" value="登录">
				</div>
			</form>

	</div>
 
	
	<script type="text/javascript">
			function change_captach (this_el) {
				this_el.src='{:captcha_src()}?'+Math.random()
			}
	</script>

</body>
</html>